<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando img</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
            <a href="/tabimagen" class="btn btn-primary">Volver</a>
          </div>
    <form action="/editima/" method="post">
        <input type="hidden" value="<%= image.id %>" name="id">
        <label for="url">Url</label>
        <input type="text" name="url" value="<%=image.url %>"
        placeholder="Nueva Url" required>
        <label for="destacado">Destacado</label>
        <input type="text" name="destacado" value="<%= image.destacado %>">
        <label for="product_id">Producto ID</label>
        <input type="text" name="product_id" value="<%= image.product_id %>">
        <input type="submit" value="Editar">
    </form>
</body>
</html>