<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar categorias</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleedit.css">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
            <a href="/login" class="btn btn-primary">Volver al menú</a>
          </div>
    <form action="/editcategories/" method="post">
        <input type="hidden" value="<%= categorie.id %>" name="id">
        <label for="name">Nombre de la categoria</label>
        <input type="text" name="name" value="<%= categorie.name %>"
        placeholder="Nombre de la categoria"required>
        <input type="submit" value="Editar">
    </form>
</body>
</html>