<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar imagen</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleedit.css">
</head>
<body>
    <form action="/img" method="post">
        <h2>Agregar Imagen</h2>
        <label for="url">URL:</label>
        <input type="url" name="url" required >
        <label for="producto">inserte id:</label>
        <input type="text" name="producto_id" required>
        <label for="destacado">destacado:</label>
        <input type="text" name="destacado" required>
        <input type="submit" value="Insertar" href="/tabimagen">
    </form>
    </body>
    </html>