<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar productos</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleedit.css">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
            <a href="/login" class="btn btn-primary">Volver al menú</a>
          </div>
    <form action="/insert-product" method="POST">
        <label for="name">id</label>
        <input type="text" name="id" value="" placeholder="id del producto" required>
        <label for="name">Nombre</label>
        <input type="text" name="name" value="" placeholder="Nombre del producto" required>
        <label for="code">Codigo</label>
        <input type="text" name="code" value="" placeholder="codigo del producto" required>
        <label for="price">Precio</label>
        <input type="text" name="price" value="" placeholder="precio del producto" required>
        <label for="description">Descripción</label>
        <textarea name="description" value="" placeholder="descripción del producto" required></textarea>
        <label for="color">Color</label>
        <input type="text" name="color" value="" placeholder="color del producto" required>
        <label for="guy">Tipo</label>
        <input type="text" name="guy" value="" placeholder="tipo de producto" required>
        <label for="category_id">Categoria</label>
        <select name="category_id" required>
        <% categories.forEach(category => { %>
        <option value="<%= category.id %>"><%= category.name %></option>
        <% }); %>
        </select>
        <input type="submit" value="Insertar">
    </form>
</body>
</html>