<!-- passwordRecoveryConfirmation.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/styleconfirmation.css">
  <title>Confirmación de Recuperación de Contraseña</title>
</head>
<body>
  <a class="my-button" onclick="location.href='/loginclient'">Volver a la página de inicio de sesión</a>
  <h1>Confirmación de Recuperación de Contraseña</h1>
  <p>Se ha enviado un correo electrónico a <%= email %> con instrucciones para recuperar tu contraseña.</p>
</body>
</html>
