<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/styleregistro.css">
  <title>Error en Recuperaci칩n de Contrase침a</title>
</head>
<body>
  <h1>Error en Recuperaci칩n de Contrase침a</h1>
  <p><%= error %></p>
  <p>Por favor, solicite un nuevo enlace de restablecimiento.</p>
</body>
</html>
